{% extends "global/Page.html" %}
{% load otree static %}

{% block scripts %}
    
    <script src="{% static 'real/js/highcharts.js' %}"></script>
    <script src="{% static 'real/js/functions.js' %}"></script>
    <link href="{% static 'real/css/styles.css' %}" rel="stylesheet">
    
    <script>

        var intervalID;
        var data_a = {{ data_a }};
        var data_b = {{ data_b }}
        var cnt_cards = 0;
        var step_view = 1;
        var start;
        var cnt = 0;
        var cnt_2 = 0;
        var cnt_scenario = 0;
        var slider_act = 0;
        var cnt_mistakes = 0;
        var cnt_questions = [0, 0, 0, 0];

        // Gráfica
        var graph = Highcharts.chart('graph01', {
            title: {
                text: ''
            },
            xAxis: {
                title: {
                    text: 'Escenarios'
                },
                min: 0,
                max: 7,
                categories: {{ labels }},
                align: 'center'
            },
            yAxis: {
                title: {
                    text: 'Retorno en peso por hectárea'
                },
                min: {{ min_y }} - 5,
                max: {{ max_y }} + 5
            },
            series: [{
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'blue',
                name: 'Cultivo A',
                dashStyle: 'Dash'
            }, {
                animation: true,
                data: [],
                lineWidth: 1,
                enableMouseTracking: true,
                marker:{
                    enabled: true
                },
                color: 'green',
                name: 'Cultivo B',
                dashStyle: 'Dash'
            }],
            legend: {
                enabled: true
            }
        });

        function add_point_graph(n_data) {
            let y_pos_a;
            let y_pos_b;
            if(((data_a[n_data] > 0) && (data_b[n_data] > 0)) || ((data_a[n_data] < 0) && (data_b[n_data] < 0))){
                if(data_a[n_data] > data_b[n_data]){
                    y_pos_a = -5;
                    y_pos_b = 25;
                } else {
                    y_pos_a = 25;
                    y_pos_b = -5;
                }
            } else {
                if(data_a[n_data] > 0) {
                    y_pos_a = -5;
                } else {
                    y_pos_a = 25;
                }
                if(data_b[n_data] > 0) {
                    y_pos_b = -5;
                } else {
                    y_pos_b = 25;
                }
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos_a,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos_b,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_a(n_data) {
            let y_pos;
            if(data_a[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[0].addPoint({
                x: n_data,
                y: data_a[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_a[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'blue',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function add_point_b(n_data) {
            let y_pos;
            if(data_b[n_data] > 0) {
                y_pos = -5;
            } else {
                y_pos = 25;
            }
            graph.series[1].addPoint({
                x: n_data,
                y: data_b[n_data],
                dataLabels: {
                    enabled: true,
                    format: data_b[n_data].toLocaleString('es-CO'),
                    y: y_pos,
                    style: {
                        color: 'green',
                        fontSize: '0.8rem',
                        fontWeight: 'normal',
                        textOutline: 'none'
                    }

                }
            });
        }

        function nextCard() {
            if(cnt_cards < 7) {
                add_point_graph(cnt_cards);
            } else {
                add_point_graph(cnt_cards);
                document.getElementById('btnNext').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
                clearInterval(intervalID);
            }
            cnt_cards += 1;
        }

        function nextCard_a() {
            if(cnt_cards < 7) {
                add_point_a(cnt_cards);
            } else {
                add_point_a(cnt_cards);
                clearInterval(intervalID);
                cnt_cards = -1;
                cnt += 1;
                if (cnt == 2) {
                    document.getElementById('btnNext').style.display = 'block';
                    document.getElementById('btnNext').style.margin = '0 auto';
                }
            }
            cnt_cards += 1;
        }

        function nextCard_b() {
            if(cnt_cards < 7) {
                add_point_b(cnt_cards);
            } else {
                add_point_b(cnt_cards);
                clearInterval(intervalID);
                cnt_cards = -1;
                cnt += 1;
                if (cnt == 2) {
                    document.getElementById('btnNext').style.display = 'block';
                    document.getElementById('btnNext').style.margin = '0 auto';
                }
            }
            cnt_cards += 1;
        }

        function visibleA() {
            document.getElementById("btn_a").style.backgroundColor = "#989898";
            document.getElementById("btn_a").disabled = true;
            document.getElementById("btn_b").style.backgroundColor = "#007bff";
            document.getElementById("btn_b").disabled = false;
            nextCard_a();
            intervalID = setInterval(nextCard_a, 0);
            graph.series[1].setData([]);
        }

        function visibleB() {
            document.getElementById("btn_b").style.backgroundColor = "#989898";
            document.getElementById("btn_b").disabled = true;
            document.getElementById("btn_a").style.backgroundColor = "#007bff";
            document.getElementById("btn_a").disabled = false;
            nextCard_b();
            intervalID = setInterval(nextCard_b, 0);
            graph.series[0].setData([]);
        }

        function visibleAB() {
            document.getElementById("btn_ab").style.backgroundColor = "#989898";
            document.getElementById("btn_ab").disabled = true;
            nextCard();
            intervalID = setInterval(nextCard, 0);
        }

        function nextView() {
            switch(step_view) {
            case 1:
                document.getElementById('step_1').style.display = 'none';
                document.getElementById('step_2').style.display = 'block';
                document.getElementById('div_tabGraph').style.display = 'block';
                document.getElementById('h-slider-div').style.display = 'block';
                document.getElementById('btnNext').style.display = 'none';
                if (cnt_2 == 0) {
                    let fa = document.getElementById('fila_a');
                    let fb = document.getElementById('fila_b');
                    let ft = document.getElementById('fila_total');
                    fa.style.visibility = "visible";
                    fb.style.visibility = "visible";
                    ft.style.visibility = "visible";
                    for(var i=0; i<fb.childElementCount; i++) {
                        fb.children[i].style.border = "#000000 1px solid";
                    }
                    for(var i=0; i<fa.childElementCount; i++) {
                        fa.children[i].style.border = "#000000 1px solid";
                    }
                    for(var i=0; i<ft.childElementCount; i++) {
                        ft.children[i].style.border = "#000000 1px solid";
                    }
                }
                cnt_2 = 1;
                step_view += 1;
                break;
            case 2:
                document.getElementById('step_2').style.display = 'none';
                document.getElementById('step_3').style.display = 'block';
                document.getElementById('questions_box').style.display = 'block';
                document.getElementById('h-slider-div').style.display = 'none';
                document.getElementById('btnNext').style.display = 'none';
                for(var i=0; i<8; i++) {
                    let cell_a = document.getElementById("a_"+(i+1));
                    let cell_b = document.getElementById("b_"+(i+1));
                    let cell_t = document.getElementById("t_"+(i+1));
                    cell_a.innerHTML = "";
                    cell_b.innerHTML = "";
                    cell_t.innerHTML = "";
                }
                start = Date.now();
                step_view += 1;
                break;
            case 3:
                let mon_a = Number(document.getElementById("has_cultivo_1").value);
                let mon_b = Number(document.getElementById("has_cultivo_2").value);
                console.log((mon_a + mon_b));
                if ((mon_a + mon_b) == 100) {
                    document.getElementById('time_cultivos').value = Date.now() - start;
                    document.getElementById('cnt_mistakes').value = cnt_mistakes;
                    step_view += 1;
                    document.getElementById('step_3').style.display = 'none';
                    document.getElementById('step_4').style.display = 'block';
                    document.getElementById('questions_box').style.display = 'none';
                    document.getElementById('questions').style.display = 'block';
                    document.getElementById('btnNext').style.display = 'none';
                } else {
                    document.getElementById('div_error').style.display = 'block';
                    document.getElementById('div_error').style.margin = '0 auto';
                    document.getElementById('has_cultivo_1').style.boxShadow = '0px 0px 3px 1px rgba(255, 0, 0, 0.65)';
                    document.getElementById('has_cultivo_2').style.boxShadow = '0px 0px 3px 1px rgba(255, 0, 0, 0.65)';
                    cnt_mistakes += 1;
                }
                break;
            case 4:
                let btn = document.getElementById("id_next");
                btn.removeAttribute("disabled");
                btn.click();
                break;
            }
        }

        function values_table(){
            if(document.getElementById("div_error").style.display == "block") {
                document.getElementById("div_error").style.display = "none";
            }
            if(document.getElementById("btnNext").style.display == "none") {
                document.getElementById("btnNext").style.display = "block";
            }
            document.getElementById("has_cultivo_1").style.boxShadow = "none";
            document.getElementById("has_cultivo_2").style.boxShadow = "none";
            for(var i=0; i<8; i++) {
                let cell_a = document.getElementById("a_"+(i+1));
                let cell_b = document.getElementById("b_"+(i+1));
                let cell_t = document.getElementById("t_"+(i+1));
                let mon_a = (document.getElementById("has_cultivo_1").value * data_a[i]);
                let mon_b = (document.getElementById("has_cultivo_2").value * data_b[i]);
                let mon_t = mon_a + mon_b;
                mon_a = "$ " + mon_a.toLocaleString('es-CO');
                mon_b = "$ " + mon_b.toLocaleString('es-CO');
                mon_t = "$ " + mon_t.toLocaleString('es-CO');
                cell_a.innerHTML = mon_a;
                cell_b.innerHTML = mon_b;
                cell_t.innerHTML = mon_t;
            }
        }

        $(document).ready(function () {
            $('.slider_dinero').change(
                function (event) {
                    var slider_id = event.target.id;
                    var parent_slider = document.getElementById(slider_id).parentElement.parentElement;
                    var childs = parent_slider.children;

                    var dinero_pa = childs[0];
                    var slider_max = childs[1].firstElementChild.max;
                    var slider_value = childs[1].firstElementChild.value;
                    var dinero_pb = childs[2];

                    dinero_pa.innerHTML = numberWithPoints(slider_value) + " hectáreas";
                    dinero_pb.innerHTML = numberWithPoints(slider_max-slider_value) + " hectáreas";

                    if (slider_act == 0) {
                        document.getElementById('btnNext').style.display = 'block';
                        document.getElementById('btnNext').style.margin = '0 auto';
                        slider_act = 1;
                    }

                    for(var i=0; i<8; i++) {
                        let cell_a = document.getElementById("a_"+(i+1));
                        let cell_b = document.getElementById("b_"+(i+1));
                        let cell_t = document.getElementById("t_"+(i+1));
                        let mon_a = (slider_value * data_a[i]);
                        let mon_b = ((slider_max-slider_value) * data_b[i]);
                        let mon_t = mon_a + mon_b;
                        mon_a = "$ " + mon_a.toLocaleString('es-CO');
                        mon_b = "$ " + mon_b.toLocaleString('es-CO');
                        mon_t = "$ " + mon_t.toLocaleString('es-CO');
                        cell_a.innerHTML = mon_a;
                        cell_b.innerHTML = mon_b;
                        cell_t.innerHTML = mon_t;
                    }
                }
            );
        });

        $(document).ready(function () {
            $('.slider_porcentaje').change(
                function (event) {
                    var slider_id = event.target.id;
                    var slider_value = event.target.value;
                    var parent_slider = document.getElementById(slider_id).parentElement.parentElement.parentElement;
                    var child = parent_slider.children[0].children[0].firstElementChild;
                    child.innerHTML = slider_value + "%";
                    var check_sli = parent_slider.children[1].lastElementChild.lastElementChild;
                }
            );
        });

        function review_q1() {
            cnt_questions[0] = 1;
            let suma = cnt_questions.reduce((acumulador, numero) => acumulador + numero, 0);
            if (suma == 4) {
                document.getElementById('btnNext').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
            }
        }

        function review_q2() {
            cnt_questions[1] = 1;
            let suma = cnt_questions.reduce((acumulador, numero) => acumulador + numero, 0);
            if (suma == 4) {
                document.getElementById('btnNext').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
            }
        }

        function review_q3() {
            document.getElementById('div_error_q3').style.display = 'none';
            let val_q3 = Number(document.getElementById('question_3_cultivos').value);
            if ((val_q3 < 0) || (val_q3 > 100)) {
                document.getElementById('div_error_q3').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
            }
            cnt_questions[2] = 1;
            let suma = cnt_questions.reduce((acumulador, numero) => acumulador + numero, 0);
            if (suma == 4) {
                document.getElementById('btnNext').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
            }
        }

        function review_q4() {
            cnt_questions[3] = 1;
            let suma = cnt_questions.reduce((acumulador, numero) => acumulador + numero, 0);
            if (suma == 4) {
                document.getElementById('btnNext').style.display = 'block';
                document.getElementById('btnNext').style.margin = '0 auto';
            }
        }

    </script>
{% endblock %}

{% block title %}
    Actividad 3: Cultivos
{% endblock %}

{% block content %}

<div id="step_1">
Haga clic en el botón
{% if graphType == 1 %}
"Mostrar Cultivo A y B"
{% else %}
"Mostrar Cultivo A" y "Mostrar Cultivo B"
{% endif %}
para ver el porcentaje de rentabilidad (peso por hectárea) que cada cultivo puede generar en cada escenario.
</div>

<div id="step_2" style="display: none;">
Haga clic en sobre la barra y mueva el cuadro que aparece para ver cómo la cantidad de hectáreas asignadas al <i>Cultivo A</i> y al <i>Cultivo B</i> afecta las posibles rentabilidades.
</div>

<div id="step_3" style="display: none;">
<b>Basándose únicamente en las rentabilidades y sin tener en cuenta ningún costo adicional,</b> escriba en el cuadro correspondiente la cantidad de hectáreas que desea asignar al Cultivo A y al Cultivo B. Recuerde que la cantidad de tierra asignada debe ser 100 hectáreas.
<br>
<br>
Luego haga clic en “Enviar” para confirmar su decisión y continuar. 
</div>

<div id="step_4" style="display: none;">
A continuación, le hacemos algunas preguntas sobre las dos opciones de inversión. Por favor, léalas y responda atentamente.
</div>

<br>  
<div>
    <table style="text-align: center; width: 90%; margin: 0 auto;">
        <tr>
            {% if graphType == 1 %}
            <td><input type="button" value="Mostrar Cultivo A y B" onclick="visibleAB()" id="btn_ab"></td>
            {% else %}
            <td><input type="button" value="Mostrar Cultivo A" onclick="visibleA()" id="btn_a"></td>
            <td><input type="button" value="Mostrar Cultivo B" onclick="visibleB()" id="btn_b"></td>
            {% endif %}
        </tr>
    </table>
    <br>
    <div id="graph01" class="div_graph"></div>
    <div class="div_tabGraph" id="div_tabGraph" style="display: none;">
        <table class="tabGraph">
            <tr id="fila_a" style="visibility: hidden; border: #ffffff 1px solid;">
                <td class="cell_graphInv" style="border: #ffffff 1px solid;">Retorno A</td>
                <td class="cell_graph" id="a_1" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_2" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_3" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_4" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_5" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_6" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_7" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="a_8" style="border: #ffffff 1px solid;"></td>
            </tr>
            <tr id="fila_b" style="visibility: hidden;">
                <td class="cell_graphInv" style="border: #ffffff 1px solid;">Retorno B</td>
                <td class="cell_graph" id="b_1" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_2" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_3" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_4" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_5" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_6" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_7" style="border: #ffffff 1px solid;"></td>
                <td class="cell_graph" id="b_8" style="border: #ffffff 1px solid;"></td>
            </tr>
        </table>
        <table class="tabGraph" style="margin-top: 15px;">
            <tr id="fila_total" style="visibility: hidden; border: #ffffff 1px solid;">
                <td class="cell_graphInv" style="font-weight: bold; border: #ffffff 1px solid;">Total</td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_1"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_2"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_3"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_4"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_5"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_6"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_7"></td>
                <td class="cell_graph" style="font-weight: bold; border: #ffffff 1px solid;" id="t_8"></td>
            </tr>
        </table>
    </div>
</div>
<br>
<div class="card_table" id="h-slider-div" style="text-align: center; display: none;">
    <table class="table_question">
        <tr>
            <td class="text_slider"> - </td>
            <td class="td_slider" rowspan="2">
                <input type="range" name="problem_01_sliderInv_a" value="" min="0" max="{{ investment_max }}" step="1" id="sliderDinero" class="slider_dinero" required>
                <input type="hidden" name="check_slider_example" value="" id="id_check_slider_example"/>
            </td>
            <td class="text_slider"> - </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <b>Cultivo A</b>
            </td>
            <td style="text-align: center;">
                <b>Cultivo B</b>
            </td>
        </tr>
    </table>
</div>
<div class="card_table" id="questions_box" style="text-align: center; display: none;">
    <table class="table_question">
        <tr>
            <td class="text_slider"><input type="number" name="has_cultivo_1" id="has_cultivo_1" class="inNumber_a" oninput="values_table()"></td>
            <td class="td_slider" rowspan="2">  </td>
            <td class="text_slider"><input type="number" name="has_cultivo_2" id="has_cultivo_2" class="inNumber_a" oninput="values_table()"></td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <b>Cultivo A</b>
            </td>
            <td style="text-align: center;">
                <b>Cultivo B</b>
            </td>
        </tr>
    </table>
    <input type="hidden" name="time_cultivos" id="time_cultivos">
    <input type="hidden" name="cnt_mistakes" id="cnt_mistakes">
</div>

<div id="questions" style="display: none;">
    <div class="card_table" style="text-align: center;">
    <table class="table_question" style="margin: 0 auto; width: 70% !important;">
        <tr>
            <td>
                Si la rentabilidad del Cultivo 1 disminuye ¿Qué es más probable que suceda con los retornos del Cultivo 2 en tu opinión?
            </td>
        </tr>
        <tr>
            <td class="td_slider" style="text-align: left;">
                <input type="radio" name="question_1_cultivos" value="increases" class="radios" required oninput="review_q1()">Aumenta<br>
                <input type="radio" name="question_1_cultivos" value="equal" class="radios" required oninput="review_q1()">Se mantiene<br>
                <input type="radio" name="question_1_cultivos" value="decreases" class="radios" required oninput="review_q1()">Disminuye<br>
            </td>
        </tr>
    </table>
    </div>
    <br>
    <br>
    <div class="card_table" style="text-align: center;">
    <table class="table_question" style="margin: 0 auto; width: 70% !important;">
        <tr>
            <td>
                ¿Cuál es la probabilidad que el rendimiento del Cultivo 2 disminuya? <span>- %</span>
            </td>
        </tr>
        <tr>
            <td class="td_slider">
                <input type="range" name="question_2_cultivos" value="" min="0" max="100" step="1" id="slider_porcentaje_01" class="slider_porcentaje" required oninput="review_q2()">
                <input type="range" value="" min="0" max="100" step="1" class="slider_porcentaje" style="display: none;">
            </td>
        </tr>
    </table>
    </div>
    <br>
    <br>
    <div class="card_table" style="text-align: center;">
    <table class="table_question" style="margin: 0 auto; width: 70% !important;">
        <tr>
            <td>
                Suponga que se selecciona un ESCENARIO al azar, ¿cuál es la probabilidad de que los rendimientos del Cultivo 2 estén disminuyendo?
            </td>
        </tr>
        <tr>
            <td class="td_slider">
                <input type="number" name="question_3_cultivos" id="question_3_cultivos" class="inNumber_a" oninput="review_q3()">
            </td>
        </tr>
    </table>
    <div class="error_msg" id="div_error_q3">
        Por favor ingrese un porcentaje entre 0 y 100
    </div>
    </div>
    <br>
    <br>
    <div class="card_table" style="text-align: center;">
    <table class="table_question" style="margin: 0 auto; width: 70% !important;">
        <tr>
            <td>
                De acuerdo con las gráficas ¿En cuál cultivo la dispersión de las rentabilidades es mayor?
            </td>
        </tr>
        <tr>
            <td class="td_slider" style="text-align: left;">
                <input type="radio" name="question_4_cultivos" value="cultivo_1" class="radios" required oninput="review_q4()">Cultivo 1<br>
                <input type="radio" name="question_4_cultivos" value="cultivo_2" class="radios" required oninput="review_q4()">Cultivo 2<br>
            </td>
        </tr>
    </table>
    </div>







</div>

<br>

<div class="error_msg" id="div_error">
    Recuerda que la suma de la cantidad de hectáreas debe ser 100.
</div>

<div class="div_btnNext">
    <input type="button" value="Siguiente" class="btnNext" style="display: none;" onclick="nextView()" id="btnNext">
    <button class="otree-btn-next btn btn-primary" style="display: none;" id="id_next" disabled>Siguiente</button>
</div>




<!--  -->


{% endblock %}
